torch
transformers
accelerate
safetensors
vllm
pandas
openpyxl
bitsandbytes
git+https://github.com/huggingface/transformers.git@main
sentencepiece
hf_transfer
huggingface_hub
anthropic
google-generativeai
gcovr
